
<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>도서 관리 시스템</title>
<link href="../../css/layout.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		
	</header>
	<div class="wrapper">
		<nav class="menu_bar">
			<ul class="menu_bar_category">
				<li><img class="menu_icon" src="../../images/layout/menu_home.svg"/><a href="home.html">홈</a></li>
				<li><img class="menu_icon" src="../../images/layout/menu_book.svg"/><a href="totalRent.html">대출/반납</a></li>
				<li>
					<div class="menu_div">
						<img class="menu_icon" src="../../images/layout/menu_list.svg"/>
						<a href="#">현황</a>
						<img class="submenu_icon" src="../../images/layout/menu_arrow.svg" class="menu_icon_svg">
					</div>
					<ul style="width:100%;" class="submenu">
                        <li><a href="totalState.html">전체 대출 목록</a></li>
                        <li><a href="turnoverState.html">대출 회전율 정보</a></li>
                        <li><a href="overduePerson.html">연체 회원 목록</a></li>
                        <li><a href="overdueState.html">연체 도서 목록</a></li>
                    </ul>
				</li>
			</ul>
		</nav>
		<main>
			<div>
				<div class="menu_info">
					<div>
						<img alt="" src="../../images/layout/menu_home.svg"/>
					</div>
					<div>
						<label>관리자 | 현황 | 연체 도서 목록</label>
					</div>
				</div>
				
				<div class="contents">
				</div>
			</div>
		</main>
	</div>
	<footer>
	</footer>
</body>
</html>